@font-face {
    font-family: vanilla;
    src: url(./vanilla_whale/vanilla\ whale.otf);
}

/*MENU*/
.cont{
    margin-top: 20px;
    width: 80%;
    height: 305px;
    margin-left: 10%;
    padding: 10px;
    font-family: 'vanilla';
    font-weight: 100px;
}

.fund h3{
    margin-top: 10px;
    border-radius: 20px;
    color: white;
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 1px black;
    font-family: 'vanilla';
}

.med h3{
    margin-top: 120px;
    border-radius: 20px;
    color: white;
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 1px black;
    font-family: 'vanilla';
}

a{
    color: black;
    font-size: 20px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.331);
}

a:hover{
    color: rgb(255, 255, 117);
    text-decoration: underline overline;
    transform: scale(0.97);
}

.fund a{
    display: flex;
    float: left;
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 5px;
    padding-left: 22%;
    border-radius: 20px;
    margin-top: 10px;
    color: white;
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 1px black;
}

.med a{
    display: flex;
    float: left;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 5px;
    padding-left: 47%;
    border-radius: 20px;
    margin-top: 10px;
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 1px black;
    color: white;
}

.menu{
    background-image: url(https://steamuserimages-a.akamaihd.net/ugc/785254538960148235/540CE3179B68243EEED7B516C57DD35E6A56F528/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true);
    background-repeat: no-repeat;
    background-size: 120%;
    height: 700px;
    overflow: hidden;
    backdrop-filter: blur(3px);
    background-position-x: -50px;
    background-position-y: -60px;
}

.logo{
    color: white;
    text-shadow: 2px 2px 2px gray;
    font-family: 'vanilla';
}


